@import "../../global.scss";

.contact {
    background-color: $background;
    display: flex;

    .left {
        left: 0;
        width: 100vw;
        overflow: hidden;
        position: absolute;

        .send {
            height: 100%;
        }

        .imgContainer {
            width: 100vw;
            height: 900px;
            flex-direction: column;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;
            overflow: hidden;

            @include mobile {
                align-items: flex-start;
                margin-left: 40%;
                
            }

            img {
                height: 100%;
                width: auto;
                vertical-align: center;

                @include mobile {
                    height: 50%;
                }
            }
        }
    }

    .right {
        flex: 1;
        z-index: 2;
        left: 50%;
        width: 50%;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background-color: rgba(255, 255, 255, 0.7);
        background-color: $background;

        h2 {
            font-size: 40px;
            font-family: "kazimirtext-black", serif;
            font-weight: 400;
            margin: 0;
            z-index: 3;
            text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
        }

        form {
            width: 70%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            position: relative;

            input {
                width: 300px;
                height: 30px;
                font-size: 14px;

                @include mobile {
                    margin: 5px 0;
                }
            }

            textarea {
                width: 300px;
                height: 200px;
                font-size: 14px;
                margin-bottom: 0;
                resize: none;

                @include mobile {
                    margin: 5px 0;
                }
            }

            button {
                width: 150px;
                height: 30px;
                background-color: $mainColor;
                color: $background;
                border: none;
                border-radius: 15px;
                font-family: "kazimirtext-black", serif;
                cursor: pointer;
                @include mobile {
                    margin: 5px 0;
                }
            }

            #thanks {
                position: absolute;
                color: $mainColor;
                font-family: "kazimirtext-black", serif;
                bottom: -20px;
            }
        }

        @include mobile {
            width: 100%;
            max-width: 100%;
            background: transparent;
        }
    }
}