
@import "../../global.scss";

.portfolio {
    .bg {
        z-index: 0;
        position: absolute;
        width: 100%;
        min-width: 100%;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
    }

    .prtContainer {
        // background-color: rgba(255, 255, 255, 0.7);
        background-color: $background;
        z-index: 1;
        position: absolute;
        width: 50%;
        min-width: 50%;
        max-width: 700px;
        height: calc(100vh - 69px);
        margin-top: -1px;
        min-height: 300px;
        max-height: calc(100vh - 69px);
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        @include mobile {
            // background: transparent;
            width: 80%;
            min-width: 80%;
        }

        @media screen and (min-width: 1550px) {
            width: 850px;
            min-width: 850px;
        }

        @media screen and (max-width: 1115px) {
            width: 80%;
            min-width: 80%;
        }

        @media screen and (max-width: 1062px) {
            width: 80%;
            min-width: 80%;
        }

        @media screen and (max-width: 928px) {
            width: 90%;
            min-width: 90%;
        }

        @media screen and (max-width: 743px) {
            width: 80%;
            min-width: 80%;
        }
    }

    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .listContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20%;

        h1 {
            font-size: 3rem;
            z-index: 1;
            color: $mainColor;
            padding: 10px 0;
            margin: 0;
            text-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;


            @media screen and (max-width: 375px) {
                margin-top: -5px;
            }

            @include mobile {
                margin-bottom: 10px;
            }

            @media screen and (max-width: 280px) {
                font-size: 2rem;
            }
        }

        ul {
            margin: 10px;
            padding: 0;
            list-style: none;

            @media screen and (max-width: 414px) {
                margin-top: -30px;
                align-items: center;
                margin-bottom: 20px;
            }

            @media screen and (max-height: 640px) and (max-width: 360px) {
                margin-top: -45px;
            }

            @media screen and (height: 568px) and (width: 320px) {
                margin-top: -48px;
            }
        }

        ul li {
            display: inline;
            list-style: none;

            @media screen and (max-width: 280px) {
                font-size: 0.7rem;
            }

            @media screen and (max-height: 640px) and (max-width: 360px) {
                font-size: 0.7rem;
            }

            @media screen and (height: 568px) and (width: 320px) {
                font-size: 0.7rem;
                margin-top: -20px;
            }
        }
    }
}