$mainColor: #000;
$hover: #0f99a3;
$background: #FFF;
$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}) {
        @content
    }
}

a {
    color: $mainColor;
    text-decoration: none !important;
    transition: all .35s ease;
}

a:hover {
    text-decoration: none;
    color: $hover;
}

a, a:visited, a:active, a:hover, a:link {
    text-decoration: none;
}

